*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --main-color: hsl(60, 100%, 94%);
    --btn-color: hsl(9, 100%, 64%);
    --btn-color-inverse: hsl(231, 100%, 64%);
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: system-ui;
}

h1 {
    margin: 0;
}

.main {
    min-height: 100vh;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.btn-show,
.inmodal-btn {
    width: fit-content;
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 3rem;
    font-size: inherit;
    cursor: pointer;
}

.btn-show {
    justify-self: center;
    padding: 1.5rem 6rem;
    background-color: var(--btn-color);
    font-weight: bold;
}

.inmodal-btn {
    padding: 0.5rem 3rem;
    background-color: var(--btn-color-inverse);
}

.btn-hide {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.dialog {
    width: min(95%, 35rem);
    padding: 0.8rem 2rem;
    border-color: hsl(0, 0%, 75%);
    border-radius: 6px;
    border-width: 1px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 0.4);
}

.dialog[open] {
    animation: modalFadeIn 400ms ease-in-out;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal-header {
    text-align: center;
    margin-bottom: 2rem;
    font-family: monospace;
    color: hsl(300, 50%, 40%);
}

figure {
    margin: 0;
    margin-bottom: 1.5rem;
}

img {
    max-width: 100%;
    display: block;
    margin-bottom: 0.6rem;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

figcaption {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}

@media (max-width: calc(48rem - 1px)) {
    .dialog {
        padding-inline: 1rem;
    }
}
